#root {
  width: 100%;
  max-width: 480px;
  padding: 50px 20px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

span {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  color: #dddddd;
  font-weight: 500;

  strong {
    font-weight: 700;
  }
}

.success-span {
  background-color: green;
}

.error-span {
  background-color: red;
}